<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заказ № {{ order.id }}</title>
</head>
<body>
<div>{{ order.primary_info }}</div>
<div style="width: 400px; height: 700px; overflow: auto;">

</div>
<div>
    <form onsubmit="sendMessage()" method="post">
        {% csrf_token %}
        <textarea id="msg-input"></textarea>
        <button type="submit">Отправить</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script type="text/javascript">
    function loadFiveMessages(){
        $.ajax({
            url: '{{ url }}' + 'message/',
            type: 'GET',
            success: function(data){
                alert(data);
            },
            error: function(data){
                alert(data);
            }
        });
    }

    function sendMessage(){
        text = $("#msg-input").val();
        if($.trim(text).length > 0) {
            $.ajax({
                url: '{{ url }}' + 'message/',
                type: 'POST',
                data: JSON.stringify({text: text}),
                success: function() {
                    loadFiveMessages();
                },
                error: function(data){
                    alert(data);
                }
            });
        }
        else{
            alert('empty message');
        }
    }

    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $(document).ready(function(){
        loadFiveMessages();
    });

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>